* {
    /* border: solid 2px red; */
    margin: 0;
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
}

::selection {
    color: white;
    background: #253784;
  }

  @font-face {
    font-family: "Ortica Angular";
    src: url(./ortica_web/OrticaLinear-Light.woff);
    }

@font-face {
    font-family: LB regular;
    src: url(../fonts/libre-baskerville.regular.ttf);
}

@font-face {
    font-family: Anton;
    src: url(../fonts/Anton-Regular.ttf);
}

@font-face {
    font-family: Walbaum Bold;
    src: url(../fonts/Walbaum-Fraktur.ttf);
}

.logo{
  height: 100vh;
  overflow: hidden;
}

#logo {
    width: 100vw;
    padding-top: 2.5rem;
    z-index: 10;
}

@media only screen and (max-width: 600px) {
  #logo{ 
    display: none;
  }
}

.logo_text{
text-align: center;
justify-content: center;
margin-top: 13%;
height: 100vh;
  color: #FAF9F6;

}

.head_image{
width: 100vw;
height: 100vh;
top: 0;
position: fixed;
opacity: 80%;
z-index: -1;
}

.head_image img{
width: 100vw;
height: 100vh;
object-fit: cover;
}

.logo_text-part1{
display: flex;
margin-left: 30%;
}

.logo_text-part2{
  display: flex;
  margin-left: 30%;
  margin-top: -2rem;
  }

.Walbaum_Initial{
font-family: Walbaum Bold;
font-size: 220px;
}

.Walbaum_Initial span {
font-family: Anton;
}

.Anton_title{
font-size: 170px;
font-family: Anton;
margin-top: -0.5rem;
}

.head_mobile{
  display: none;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .head_mobile{ 
    display: flex;
  }
} 

#logo_mobile{
  width: 80vw;
}

/* Styling the menu button */
.menu-btn {
  position: fixed;
  z-index: 3;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

/* Styling the hamburger lines */
.menu-btn .btn-line {
  width: 40px;
  height: 6px;
  margin: 0 0 5px 0;
  background: black;
  transition: all 0.5s ease-out;
}

/* Adding transform to the X */
.menu-btn.close {
  transform: rotate(180deg);
}

/* Styling the three lines
  to make it an X */
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 3.5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(12px, -10px);
}

/* Styling the position of the menu icon */
.menu {
  position: fixed;
  width: 100vw;
  opacity: 0.9;
  visibility: hidden;
  font-family: Anton;
  font-size: 5rem;
  background-color: whitesmoke;
  color: black;
  height: 100vh;
  width: 100vw;
}

.menu_nav li{
  list-style-type: none;
  font-size: 3rem;
}

.menu_nav a{
  text-decoration: none;
  color: black;
}

.menu.show {
  visibility: visible;
}

/* Adding a transition delay to the
 4 items in the navigation menu */
.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}


#line_menu{
    display: flex;
    justify-content: center;
}

#line_menu hr {
    width: 50%;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-top: solid .1rem black;
}

@media only screen and (max-width: 600px) {
  #line_menu hr{ 
    display: none;
  }
} 

.menu_horizontal{
    padding-top: 7px;
    display: flex;
    top: 0;
    padding-bottom: 7px;
    justify-content: center;
    position: sticky;
    background-color: #FAF9F6;
    box-shadow: 5px 6px 5px hsl(0, 0%, 0%, 0.3);
    /* border-radius: 20px;
    width: 99%;
    justify-content: center;
    margin: auto; */
}

@media only screen and (max-width: 600px) {
  .menu_horizontal{ 
    display: none;
  }
} 

.menu_horizontal a{
    font-family: Anton;
    font-size: 1.3rem;
    text-decoration: none;
    color: #253784;
    padding: 0rem 2rem;
} 

.menu_horizontal a:hover{
    text-decoration: underline;
    text-decoration-thickness: .2rem;
}

.menu_hide{
  font-family: Anton;
  font-size: 2rem;
  display: none;
  justify-content: right;
  transform: rotate(45deg);
}

@media only screen and (max-width: 600px) {
  .menu_hide {
    display: flex;
  }
}

.print_pages{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 0.2rem;
    width: 100%;
}

@media only screen and (max-width: 600px) {
  .print_pages {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100vw;
  }
}

#newspaperImage{
    width: 70vw;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #newspaperImage { 
    width: 80vw;
    padding-left: .4rem;
    padding-right: .4rem;
  }
}

#prevButton {
    width: 4rem;
    cursor: pointer;
}

#nextButton {
  width: 4rem;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #prevButton { 
    width: .8rem;
  }
}

@media only screen and (max-width: 600px) {
  #nextButton { 
    width: .8rem;
  }
}

.button_hidden{
  display: flex;
}

.button_hidden{
  padding-top: 2rem;
  color: white; 
  text-align: center;
  justify-content: center;
  font-family: Anton;
  font-size: 2rem;
}

Image {
  height: 100vh;
  cursor: pointer;
}

.enlarged-view {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Dark background color with transparency */
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  #enlargedImage { 
    width: 95vw;
  }
}

#enlargedImage {
  max-width: 150%;
  max-height: 100%;
  margin: auto;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

#title_text{
    display: flex;
    justify-content: center;
    align-content: center;
}

#title_text img{
    padding-top: 2.5rem;
    width: 40%;
}

@media only screen and (max-width: 600px) {
  #title_text img{ 
    width: 60%;
  }
} 

.middle_text{
  background-color: #253784;
}

.middle_text p{
  font-family: "Ortica Angular";
  font-size: 1rem;
  line-height: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
  max-width: 38%;
}

@media only screen and (max-width: 600px) {
  .middle_text{ 
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
} 

.middle_text p{
    text-align: justify;
    width: 50rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.ticker-wrap {
    bottom: 0;
      left: 0;
    width: 100%;
    overflow: hidden;
    height: 3rem;
    background-color: #253784;
    box-sizing: content-box;
  }

  .ticker-wrap .ticker {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 30s;
    animation-duration: 100s;
  }

  .ticker-wrap .ticker__item {
    font-family: Anton;
    display: inline-block;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }

  @-webkit-keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  @keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }

  .ticker__item a{
    color: white;
    text-decoration: underline;
  }